

*{
    margin: 0;
    padding: 0;
    outline: 0;
}

.container{
    width: 82%;
    margin: 0 auto;
}
.banner-container{
    background-image: url(../images/Banner\ Image.png);
    border-radius: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    margin-top: 30px;
    opacity: 0.5;
}