

*{
    margin: 0;
    padding: 0;
    outline: 0;
}

.container{
    width: 82%;
    margin: 0 auto;
}
.banner-container{
    background-image: url(../images/Banner\ Image.png);
    border-radius: 16px;
background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    margin-top: 30px;
}